body
{
  background-color: powderblue;
}
h1
{
  text-align: center;
  color: mediumslateblue;
}
p
{
  text-align: center;
  color: slateblue;
}
a
{
  margin-left: auto;
  margin-right: auto;
  color: slateblue;
}
