body
{
  background-color: powderblue;
}
h1
{
  text-align: center;
  color: mediumslateblue;
}
p
{
  text-align: center;
  color: slateblue;
}
a
{
  text-align: center;
  align: center;
  color: slateblue;
}
